:root{
    --primary-brand: #4D5AE5;
    --navy-blue: #2E2F42;
    --brand-text: #434455;
    --brand-ligth: #F4F4FD;
    --irish: #404BBF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    background-color: #FFFFFF;
    color: var(--brand-text);
}

.container{
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-navig{
    display: flex;
    align-items: center;
}

.header-list{
    list-style: none;
    display: flex;
    gap: 40px;
}

.address-list{
    list-style: none;
    display: flex;
    gap: 40px;
}

.header-container{
    align-items: center;
    display: flex;
    gap: 332px;
    align-items: center;
}

.header{
    background-color: #FFF;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.header-logo{
    color: var(--primary-brand);
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 76px;
}

.header-list-item{
    color: var(--irish);
}

.header-sp{
    color: var(--navy-blue);
}

.header-list-link{
    color: var(--navy-blue);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-decoration: none;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-link:hover,
.header-list-link:focus{
    color: var(--irish);
}

.current {
    position: relative;
}

.header-list-item .current {
    color: var(--irish);
}

.current::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--irish);
}

.header-address{
    font-style: normal;
}
.header-address-link{
    color: var(--brand-text);
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus{
    color: var(--irish);
}

.address-list,
.ourwork-list,
.ourteam-list {
    list-style: none;
}

.mainscrin{
    background-color: var(--navy-blue);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)),
        url(../images/mainscrin.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin: 0 auto;
}
.mainscrin-container{
    max-width: 1440px;
}



.mainscrin-title{
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    padding-bottom: 48px;
    margin: 0 auto;
}

.mainscrin-btn{
    background-color: var(--primary-brand);
    font-family: inherit;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px; 
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}    

.mainscrin-btn:hover,
.mainscrin-btn:focus{
    background-color: var(--irish);
}

.advantages{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #FFF;
}


.advantages-list{
    display: flex;
    gap: 24px;
    list-style: none;
    justify-content: center;
}

.adventages-items{
    width: calc((100% - 72px)/4);
}

.advantages-div-icon{
    background-color: var(--brand-ligth);
    border-radius: 4px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 100px;
    margin-bottom: 8px;
}
/* 
.advantages-icon{
    
    } */

.adventages-list-title{
    font-size: 20px; 
    font-weight: 500;
    color: var(--navy-blue);
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.advantages-list-text{
    color: var(--brand-text);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.ourwork{
    background-color: #FFF;
    padding-bottom: 120px;
}


.ourwork-title{
    color: var(--navy-blue);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center; ;
}

.ourwork-list{
    display: flex;
    gap: 24px;
}

.ourwork-list-item{
    width: calc((100% - 48px)/3);
}

.ourteam{
    background-color: var(--brand-ligth);
    padding-top: 120px;
    padding-bottom: 120px;
}

.ourteam-list{
    background-color: #FFFFFF;
}

.ourteam-title{
    text-align: center;
    font-size: 36px;
    color: var(--navy-blue);
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.ourteam-list{
    display: flex;
    gap: 24px;
    background-color: var(--brand-ligth);
    justify-content: center;
}

.ourteam-list-item{
    background-color: #FFFFFF;
    width: calc((100% - 72px)/4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.ourteam-worker{
    padding-top: 32px;
    padding-bottom: 32px;
}

.ourteam-list-title{
    text-align: center;
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.ourteam-list-text{
    color: var(--brand-text);
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.ourteam-list-icon{
    display: flex;
    gap: 24px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.ourteam-icon-items{
    display: flex;
    height: 40px;
    width: 40px;
}

.ourteam-div-link{
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-icon-svg{
    fill: var(--brand-ligth);
}

.ourteam-div-link:hover,
.ourteam-div-link:focus{
    background-color: #404bbf;
}

.customers{
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-title{
    color: var(--navy-blue);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}


.customers-list{
    display: flex;
    gap: 24px;
    list-style: none;
}

.customers-list-item{
    width: calc((100% - 24px * 5) / 6);
    height: 88px;
}

.customers-div-link{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    color: #8E8F99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon{
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-div-link:hover,
.customers-div-link:focus{
    border: 1px solid #404BBF;
    color: #404bbf;
}

.customers-icon:hover,
.customers-icon:focus{
    fill: #404BBF;
}

.footer{
    background-color: var(--navy-blue);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container{
    display: flex;
    align-items: baseline;
}

.footer-div-first{
    margin-right: 120px;
}

.footer-logo{
    margin-bottom: 16px;
    color: var(--primary-brand);
    font-size: 18px;
    font-family: Raleway, sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
    display: inline-block;
    margin-right: 76px;
    font-weight: 800;
}

.footer-sp{
    color: var(--brand-ligth);
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text{
    color: var(--brand-ligth);
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 279px;
}

.footer-text-social{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFF;
    margin-bottom: 16px;
}

.footer-list-social{
    list-style: none;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.footer-item-social{
    height: 40px;
    width: 40px;
    display: flex;
}

.footer-link{
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-svg{
    fill: var(--brand-ligth);
}

.footer-link:hover,
.footer-link:focus{
    background-color: #31D0AA;
}

.portmain-section{
    padding-top: 96px;
    padding-bottom: 120px;
}

.portmain-list-btn{
    list-style: none;
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}

.portmain-button{
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer; 
    display: flex;
    background-color: var(--brand-ligth);
    color: var(--primary-brand);
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portmain-button:hover,
.portmain-button:focus{
    background-color: var(--irish);
    color: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10); 
}

.portmain-list-servis{
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.portmain-servis-item{
    width: calc((100% - 48px)/3);
    background:  #FFF; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portmain-servis-item:hover,
.portmain-servis-item:focus{
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portmain-list-link:hover .portmain-text-cover{
    transform: translateY(0);
}

.portmain-list-link:hover,
.portmain-list-link:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portmain-list-title{
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em; 
    margin-bottom: 8px;  
}

.portmain-list-text{
    color: var(--brand-text);
    line-height: 1.5;
    letter-spacing: 0.02em; 
}

.portmain-list-link{
    text-decoration: none;
    display: block;
    border: 1px solid #E7E9FC;  
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-for-cover{
    position: relative;
    overflow: hidden;
}

.portmain-text-cover{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-ligth);
    background-color: var(--primary-brand);
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portmain-cont-title-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.modal{
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background:#FCFCFC;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.backdrop-svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn{
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px; 
    padding: 0;
    background-color:#E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: var(--navy-blue);
    top: 24px;
    right: 24px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus{
    background-color: #404bbf; 
    border: none; 
    color: #ffffff;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
