:root{
    --primary-brand: #4D5AE5;
    --navy-blue: #2E2F42;
    --brand-text: #434455;
    --brand-ligth: #F4F4FD;
    --irish: #404BBF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    background-color: #FFFFFF;
    color: var(--brand-text);
}

.container{
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-navig{
    display: flex;
    align-items: center;
}

.header-list{
    list-style: none;
    display: flex;
    gap: 40px;
}

.address-list{
    list-style: none;
    display: flex;
    gap: 40px;
}

.header-container{
    align-items: center;
    display: flex;
    gap: 332px;
    align-items: center;
}

.header{
    background-color: #FFF;
    border-bottom: 1px solid #E7E9FC;
    padding-top: 24px;
    padding-bottom: 24px;
}


.header-logo{
    color: var(--primary-brand);
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 76px;
}

.header-sp{
    color: var(--navy-blue);
}

.header-list-link{
    color: var(--navy-blue);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-list-link:hover,
.header-list-link:focus{
    color: var(--irish);
}

.header-address{
    font-style: normal;
}
.header-address-link{
    color: var(--brand-text);
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    text-decoration: none;
}

.header-address-link:hover,
.header-address-link:focus{
    color: var(--irish);
}

.address-list,
.ourwork-list,
.ourteam-list {
    list-style: none;
}

.mainscrin{
    background-color: var(--navy-blue);
    padding-top: 188px;
    padding-bottom: 188px;
}

.mainscrin-title{
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    padding-bottom: 48px;
    margin: 0 auto;
}

.mainscrin-btn{
    background-color: var(--primary-brand);
    font-family: inherit;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px; 
    display: block;
    margin: 0 auto;
}    

.mainscrin-btn:hover,
.mainscrin-btn:focus{
    background-color: var(--irish);
}

.advantages{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #FFF;
}


.advantages-list{
    display: flex;
    gap: 24px;
    list-style: none;
    justify-content: center;
}

.adventages-items{
    width: calc((100% - 72px)/4);
}

.adventages-list-title{
    font-size: 20px; 
    font-weight: 500;
    color: var(--navy-blue);
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.advantages-list-text{
    color: var(--brand-text);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.ourwork{
    background-color: #FFF;
    padding-bottom: 120px;
}

.ourwork-container{
    padding-bottom: 120px;
}

.ourwork-title{
    color: var(--navy-blue);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center; ;
}

.ourwork-list{
    display: flex;
    gap: 24px;
}

.ourwork-list-item{
    width: calc((100% - 48px)/3);
}

.ourteam{
    background-color: var(--brand-ligth);
    padding-top: 120px;
    padding-bottom: 120px;
}

.ourteam-list{
    background-color: #FFFFFF;
}

.ourteam-title{
    text-align: center;
    font-size: 36px;
    color: var(--navy-blue);
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.ourteam-list{
    display: flex;
    gap: 24px;
    background-color: var(--brand-ligth);
    justify-content: center;
}

.ourteam-list-item{
    background-color: #FFFFFF;
    width: calc((100% - 72px)/4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.ourteam-worker{
    padding: 32px 16px;
}

.ourteam-list-title{
    text-align: center;
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.ourteam-list-text{
    color: var(--brand-text);
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer{
    background-color: var(--navy-blue);
    padding-top: 100px;
    padding-bottom: 100px;
}


.footer-logo{
    padding-left: 15px;
    margin-bottom: 16px;
    color: var(--primary-brand);
    font-size: 18px;
    font-family: Raleway, sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
    display: inline-block;
    margin-right: 76px;
    font-weight: 800;
}

.footer-sp{
    color: var(--brand-ligth);
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text{
    color: var(--brand-ligth);
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 279px;
}

.portmain-section{
    padding-top: 96px;
    padding-bottom: 120px;
}

.portmain-list-btn{
    list-style: none;
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}

.portmain-list-title{
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em; 
    margin-top: 32px;
    padding-left: 16px;
    margin-bottom: 8px;  
}

.portmain-list-text{
    color: var(--brand-text);
    line-height: 1.5;
    letter-spacing: 0.02em; 
    padding-left: 16px;
    padding-bottom: 32px;
}

.portmain-button{
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer; 
    background-color: var(--brand-ligth);
    color: var(--primary-brand);
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
}   

.portmain-list-servis{
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
}

.portmain-servis-item{
    width: calc((100% - 48px)/3);
    background:  #FFF; 
}

.portmain-button:hover,
.portmain-button:focus{
    background-color: var(--irish);
    color: #FFFFFF;
    border: 1px solid transparent;
}

.portmain-list-link{
    text-decoration: none;
    display: block;
    border: 1px solid #E7E9FC;
}    

.portmain-cont-title-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }