:root{
    --primary-brand: #4D5AE5;
    --navy-blue: #2E2F42;
    --brand-text: #434455;
    --brand-ligth: #F4F4FD;
    --irish: #404BBF;
}

body{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    background-color: #FFFFFF;
    color: var(--brand-text);
}

.header{
    background-color: #FFF;
}
.header-logo,
.footer-logo{
    color: var(--primary-brand);
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.header-sp{
    color: var(--navy-blue);
}

.header-list-link{
    color: var(--navy-blue);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-decoration: none;
}
.header-list-link:hover,
.header-list-link:focus{
    color: var(--irish);
}

.header-address{
    font-style: normal;
}
.header-address-link{
    color: var(--brand-text);
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    text-decoration: none;
}

.header-address-link:hover,
.header-address-link:focus{
    color: var(--irish);
}

.header-list,
.advantages-list,
.address-list,
.ourwork-list,
.ourteam-list {
    list-style: none;
}

.mainscrin{
    background-color: var(--navy-blue);
}

.mainscrin-title{
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.mainscrin-btn{
    background-color: var(--primary-brand);
    font-family: inherit;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.mainscrin-btn:hover,
.mainscrin-btn:focus{
    background-color: var(--irish);
}

.adventages-list-title{
    font-size: 20px; 
    font-weight: 500;
    color: var(--navy-blue);
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.advantages-list-text{
    color: var(--brand-text);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.advantages{
    background-color: #FFF;
}

.ourwork{
    background-color: #FFF;
}

.ourwork-title{
    color: var(--navy-blue);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.ourteam{
    background-color: var(--brand-ligth);
}

.ourteam-list{
    background-color: #FFFFFF;
}

.ourteam-title{
    text-align: center;
    font-size: 36px;
    color: var(--navy-blue);
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.ourteam-list-item{
    background-color: #FFFFFF;
}

.ourteam-list-title{
    text-align: center;
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.ourteam-list-text{
    color: var(--brand-text);
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer{
    background-color: var(--navy-blue);
}

.footer-sp{
    color: var(--brand-ligth);
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text{
    color: var(--brand-ligth);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portmain-list-btn,
.portmain-list-servis{
    list-style: none;
}

.portmain-list-title{
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em; 
}

.portmain-list-text{
    color: var(--brand-text);
    line-height: 1.5;
    letter-spacing: 0.02em; 
}

.portmain-button{
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer; 
    background-color: var(--brand-ligth);
    color: var(--primary-brand);
}

.portmain-button:hover,
.portmain-button:focus{
    background-color: var(--irish);
    color: #FFFFFF;
}

.portmain-list-link{
    text-decoration: none;
}