:root{
    --primary-brand: #4D5AE5;
    --navy-blue: #2E2F42;
    --brand-text: #434455;
    --brand-ligth: #F4F4FD;
    --irish: #404BBF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.no-scroll {
    overflow: hidden;
}
  
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    background-color: #FFFFFF;
    color: var(--brand-text);
}

.container{
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

    /* <!------HEADER---------> */
.header{
    background-color: #FFF;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
    
.header-navig{
    display: flex;
    align-items: center;
}

.header-logo{
    color: var(--primary-brand);
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 76px;
}

.header-sp{
    color: var(--navy-blue);
}

.header-list{
    display: none;
}

.address-list{
    display: none;
}

.address-list,
.ourwork-list,
.ourteam-list {
    list-style: none;
}

.header-mobile-menu{
    position: fixed;
    background-color: #FFF;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08); 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    padding-left: 40px;
    padding-right: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-open-btn{
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.header-open-icon{
    fill: var(--navy-blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-open-btn .header-open-icon:hover,
.header-open-btn .header-open-icon:focus{
    fill: var(--irish);
}

.menu-btn-close{
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px; 
    padding: 0;
    background-color:#FFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: var(--navy-blue);
    top: 24px;
    right: 24px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn-close:hover,
.menu-btn-close:focus{
    background-color: #404bbf; 
    border: none; 
    color: #ffffff;
}

.menu-div{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    min-height: 100vh;
}

.menu-list{
    list-style: none;  
}
.menu-div-nav{
    flex-grow: 1;
}
.menu-div-cont{
    display: flexbox;

}

.menu-list-link{
    color: var(--navy-blue);
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
    font-style: normal; 
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize; 
}
.menu-list-item:not(:last-child){
    margin-bottom: 40px;
}


.menu-address{
    margin-bottom: 48px;
}

.menu-address-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-address-tel{
    color: var(--brand-text);    
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: capitalize; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-address-mail{
    color: var(--brand-text);
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em; 
}

.menu-list-social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 428px) {
    .menu-list-social{
        gap: 40px;
        justify-content:flex-start;
    }
}
.menu-item-social{
    height: 40px;
    width: 40px;
    display: flex;
}

.menu-link{
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon-svg{
    fill: var(--brand-ligth);
}

.menu-link:hover,
.menu-link:focus{
    background-color: #31D0AA;
}

/* ---------section-1------- */
.mainscrin{
    background-color: var(--navy-blue);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)),
        url(../images/mainscrin_428-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 112px;
    padding-bottom: 112px;
    /* height: 432px; */
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .mainscrin {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)),
        url(../images/mainscrin_428-2x.jpg);
  }
}

.mainscrin-title{
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 320px;
    padding-bottom: 72px;
    margin: 0 auto;
}

.mainscrin-btn{
    background-color: var(--primary-brand);
    font-family: inherit;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px; 
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}    

.mainscrin-btn:hover,
.mainscrin-btn:focus{
    background-color: var(--irish);
}

/* ------section-2----------- */
.advantages{
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #FFF;
}


.advantages-list{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    list-style: none;
    justify-content: center;
}

.adventages-items{
    width: 100%;
}

.advantages-div-icon{
    display: none;
}

.adventages-list-title{
    font-size: 36px; 
    font-weight: 700;
    color: var(--navy-blue);
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
    text-transform: capitalize; 
}

.advantages-list-text{
    color: var(--brand-text);
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
}

/* ---------section-3---------- */
.ourwork{
    display: none;
}

/* -------section-4---------- */
.ourteam{
    background-color: var(--brand-ligth);
    padding-top: 96px;
    padding-bottom: 96px;
    /* padding-left: 66px;
    padding-right: 66px; */
}

.ourteam-list{
    background-color: #FFFFFF;
}

.ourteam-title{
    text-align: center;
    font-size: 36px;
    color: var(--navy-blue);
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.ourteam-list{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    background-color: var(--brand-ligth);
    justify-content: center;
}

.ourteam-list-item{
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.ourteam-worker{
    padding-top: 32px;
    padding-bottom: 32px;
}
.ourteam-img{
    width: 100%;
    height: auto;
}

.ourteam-list-title{
    text-align: center;
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.ourteam-list-text{
    color: var(--brand-text);
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.ourteam-list-icon{
    display: flex;
    gap: 24px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.ourteam-icon-items{
    display: flex;
    height: 40px;
    width: 40px;
}

.ourteam-div-link{
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-icon-svg{
    fill: var(--brand-ligth);
}

.ourteam-div-link:hover,
.ourteam-div-link:focus{
    background-color: #404bbf;
}

/* -------section-5--------- */

.customers{
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers-title{
    color: var(--navy-blue);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.customers-list{
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.customers-list-item{
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customers-div-link{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    color: #8E8F99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon{
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-div-link:hover,
.customers-div-link:focus{
    border: 1px solid #404BBF;
    color: #404bbf;
}

.customers-icon:hover,
.customers-icon:focus{
    fill: #404BBF;
}

/* --------FOOTER----------- */
.footer{
    background-color: var(--navy-blue);
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-container{
    display: flex;
    flex-direction: column;
}

.footer-div-first{
    padding-left: 64px;
    padding-right: 64px;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-logo{
    margin-bottom: 17px;
    color: var(--primary-brand);
    font-size: 18px;
    font-family: Raleway, sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-weight: 800;
}

.footer-sp{
    color: var(--brand-ligth);
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text{
    color: var(--brand-ligth);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-div-second{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-text-social{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFF;
    margin-bottom: 16px;
    text-align: center;
}

.footer-list-social{
    list-style: none;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
}

.footer-item-social{
    height: 40px;
    width: 40px;
    display: flex;
}

.footer-link{
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-svg{
    fill: var(--brand-ligth);
}

.footer-link:hover,
.footer-link:focus{
    background-color: #31D0AA;
}

.footer-div-input{
    width: 100%;
}

.form-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-lable-text{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: #ffffff;; 
    margin-bottom: 16px;
    text-align: center;
}

.footer-input{
    border-radius: 4px;
    font-family: inherit;
    display: flex;
    padding-left: 16px; 
    color: #ffffff;
    width: 100%;
    height: 40px;
    font-size: 12px;
    line-height: 1.5; 
    letter-spacing: 0.04em; 
    background: transparent; 
    border: 1px solid rgba(100, 100, 100, 0.7);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
}

.footer-input::placeholder {
    color: #ffffff;;
    font-family: Roboto;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em; 
}

.footer-lable-hidden{
    margin-bottom: 16px;
}

.submit-btn{
    width: 165px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 4px;
    background-color: var(--primary-brand);
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;   
    letter-spacing: 0.04em; 
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus{
    background-color: #31D0AA;
}


.btn-icon{
    fill: #FFF; 
    margin-left: 16px;
}

/* --------PORTFOLIO-------------- */

.portmain-section{
    padding-top: 96px;
    padding-bottom: 120px;
}

.portmain-list-btn{
    list-style: none;
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}

.portmain-button{
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer; 
    display: flex;
    background-color: var(--brand-ligth);
    color: var(--primary-brand);
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portmain-button:hover,
.portmain-button:focus{
    background-color: var(--irish);
    color: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10); 
}

.portmain-list-servis{
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.portmain-servis-item{
    width: calc((100% - 48px)/3);
    background:  #FFF; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portmain-servis-item:hover,
.portmain-servis-item:focus{
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portmain-list-link:hover .portmain-text-cover{
    transform: translateY(0);
}

.portmain-list-link:hover,
.portmain-list-link:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portmain-list-title{
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em; 
    margin-bottom: 8px;  
}

.portmain-list-text{
    color: var(--brand-text);
    line-height: 1.5;
    letter-spacing: 0.02em; 
}

.portmain-list-link{
    text-decoration: none;
    display: block;
    border: 1px solid #E7E9FC;  
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-for-cover{
    position: relative;
    overflow: hidden;
}

.portmain-text-cover{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-ligth);
    background-color: var(--primary-brand);
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portmain-cont-title-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}



/* ------------MODAL-1-------- */
.backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.modal{
    max-width: 392px;
    min-width: 320px;
    min-height: 584px;
    padding: 72px 16px 24px 16px;
    border-radius: 4px;
    background:#FCFCFC;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.backdrop-svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn{
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px; 
    padding: 0;
    background-color:#E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: var(--navy-blue);
    top: 24px;
    right: 24px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus{
    background-color: #404bbf; 
    border: none; 
    color: #ffffff;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title{
    color: var(--navy-blue);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.divinput-block{
    position: relative;
    width: 100%;
    margin-bottom: 8px;
}

.divinput-field{
    position: relative;
    width: 100%;
}

.modal-lable{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color:  #8E8F99;
    display: block;
    margin-bottom: 4px;
}

.modal-input{
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40); 
    width: 100%;
    height: 40px;
    padding-left: 38px;
    padding-bottom: 11px;
    padding-top: 11px;
    background-color: transparent;
    outline: transparent;
    font-size: 14px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--primary-brand)
}

.modal-input:focus,
.modal-textarea:focus{
    border-color:var(--primary-brand); 
}

.modal-intup-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-intup-icon{
    fill: var(--primary-brand);
}

.divinput-block-coment{
    margin-bottom: 16px;
    width: 100%;
}


.modal-textarea{
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40); 
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4); 
    outline: transparent;
    padding: 8px 16px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: rgba(46, 47, 66, 0.40);
    
}

.modal-textarea:focus::placeholder {
    opacity: 0;
  }


.div-checkbox{
    width: 100%;
    display: flex;
    margin-bottom: 24px;
}

.check-text{
    color:  #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    align-items: center;
    position: relative;
}

.check-span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text span {
    background-color: var(--irish);
    stroke-width: 1px;    
    border: none;
    fill: #F4F4FD;
}

.privacy-link{
    color: var(--primary-brand);
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline; 
    margin-left: 3px;
}
  
.modal-btn-send{
    padding-top: 24px;
    display: flex;
    justify-content: center;
}

.btn-send{
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    background-color: var(--primary-brand);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
    border: none;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    font-family: inherit;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send:hover,
.btn-send:focus{
    background-color: var(--irish); 
}